<!DOCTYPE html>
<html>
<head>
    <title>AboutMe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8" />
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="../view/box.js"></script>
    <link rel="stylesheet" type="text/css" href="../assets/css/appliedToAll.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/aboutMePage.css">
</head> 

<body>
    <nav>
        <ul class="meniu">
            <li>
               <a href="home.html">HOME</a>
            </li>
            <li> 
               <a href="aboutMe.html">PROJECTS</a>
            </li>
            <li>
               <a href="">CV</a>
            </li>
        </ul>
    </nav>
    <header>What cand you find on this page?</header>

    <div class = "info" id="js-box">JavaScript</div>
    <div class = "info" id="hobbies-box">Hobbies and Passions</div>

    <ul class="technicalClass">
        <li>
            <a href="jsContent.html">Rock Paper Scissors Game</a>            
        </li>
        <li>
            <a href="jsContent.html">Dogs are man's best friend</a>
        </li>
        <li>
            <a href="jsContent.html">Forgot the lyrics?</a>
        </li>
        <li>
            <a href="jsContent.html">Cluj Weather</a>
        </li>
    </ul>

    <ul class="hobbiesClass">
        <li>
            <a href="hobbiesContent.html">Reading</a>
        </li>
        <li>
            <a href="hobbiesContent.html">Gaming</a>
        </li>
        <li>
            <a href="hobbiesContent.html">Music</a>
        </li>
        <li>
            <a href="hobbiesContent.html">Animals</a>
        </li>
    </ul>






    <div class="stars"></div>


</body>
</html>