<!DOCTYPE html>
<html>
<head>
    <title>CV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8" />
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../assets/css/appliedToAll.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/cvPage.css">
</head> 

<body>
    <nav>
        <ul class="meniu">
            <li>
               <a href="home.html">HOME</a>
            </li>
            <li> 
               <a href="aboutMe.html">PROJECTS</a>
            </li>
            <li>
               <a href="cv.html">CV</a>
            </li>
        </ul>
    </nav>
    <!-- <header>CV</header> -->
    <article>
        <section>
            <h1>Education</h1><br>
            <div>
                <p><strong>Institution -</strong>Babes-Bolyai University</p><br>
                <p><strong>Bachelor’s degree -</strong> Biochemistry </p><br>
                <p><strong>From -</strong> 2015 <strong>Unitl -</strong> 2018</p>
            </div>
        </section>

        <section>
            <h1>Professional Experience</h1><br>
            <div>
                <p><strong>The Informal School of IT -</strong> Intro in IT</p>
                <p><strong>From -</strong> 31/10/2017 <strong>Until -</strong> 11/01/2018 </p><br>
                <p><strong>The Informal School of IT -</strong> Front-end Web Development</p>
                <p><strong>From -</strong> 04/05/2018 <strong>Until -</strong> 25/09/2018</p><br>
                <p><strong><em>Projects:</em></strong></p>
                <ul>
                    <li>
                        <p><strong>Final grup project</strong> consists in developing a site.</p>
                        <p>Visit site <strong><a href="https://melaniasiit.github.io/frontend5-1/pages/home.html" target="_blank">HERE</a></strong></p>
                        <p>My task was to develop the <strong>EDIT</strong> functionality and the design for one movie view.</p>
                    </li>
                    <li>
                        <p><strong>Final individual project</strong> is this site.</p>
                    </li>
                    <li>
                        <p><strong>Currently working on developing a site.</strong></p>
                    </li>
                </ul>
            </div>
        </section>

        <section>
            <h1>Professional Trainings</h1><br>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>jQuery</li>
                <li>AJAX</li>
                <li>OOP</li>
                <li>SQL</li>
                <li><strong>Experience with -</strong> Bootstrap Studio</li>
            </ul>
        </section>

        <section>
            <h1>Job-related and communication skills</h1><br>
            <ul>
                <li>Willingness to learn</li>
                <li>Self-motivated</li>
                <li>Ability to handler failure</li>
                <li>Time management skills</li>
                <li>Good attention to detail</li>
                <li><strong>Team player -</strong> volunteering taught me that I work best in teams</li>
                <li><strong>Sociable -</strong> participating at projects organised within my time as a volunteer at university, I developed a strong team spirit and commitment</li>
            </ul>           
        </section>


    </article>

    <footer><a href="contactPage.html">Contact</a></footer>

</body>
</html>