<!DOCTYPE html>
<html>
<head>
    <title>CV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8" />
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../assets/css/appliedToAll.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/cvPage.css">
</head> 

<body>
    <nav>
        <ul class="meniu">
            <li>
               <a href="home.html">HOME</a>
            </li>
            <li> 
               <a href="aboutMe.html">PROJECTS</a>
            </li>
            <li>
               <a href="cv.html">CV</a>
            </li>
        </ul>
    </nav>
    <!-- <header>CV</header> -->
    <article>
        <section>
            <h1>Education</h1><br>
            <div>
                <p>Institution - Babes-Bolyai University</p><br>
                <p>Bachelor’s degree - Biochemistry </p><br>
                <p>From - 2015 Unitl - 2018</p>
            </div>
            
        </section>

        <section>
            <h1>Professional Experience</h1><br>
            <div>
                <p>The Informal School of IT - Intro in IT</p>
                <p>From - 31/10/2017 Until - 11/01/2018 </p><br>
                <p>The Informal School of IT - Front-end Web Development</p>
                <p>From - 04/05/2018 Until - 25/09/2018</p><br>
                <p>Projects:</p>
                <ul>
                    <li>
                        <p>Final grup project consists in developing a site.</p>
                        <p>Visit site at https://melaniasiit.github.io/frontend5-1/pages/home.html</p>
                        <p>My task was to develop the EDIT functionality and the design for one movie view.</p>
                    </li>
                    <li>
                        <p>Final individual project is this site.</p>
                    </li>
                    <li>
                        <p>Currently working on developing a site.</p>
                    </li>
                </ul>
            </div>
        </section>

        <section>
            <h1>Professional Trainings</h1>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>jQuery</li>
                <li>AJAX</li>
                <li>OOP</li>
                <li>SQL</li>
                <li>Experience with - Bootstrap Studio</li>
            </ul>

        </section>

        <section>
            <h1>Job-related and communication skills</h1>
            <ul>
                <li>Willingness to learn</li>
                <li>Self-motivated</li>
                <li>Ability to handler failure</li>
                <li>Time management skills</li>
                <li>Good attention to detail</li>
                <li>Team player - volunteering taught me that I work best in teams</li>
                <li>Sociable - participating at projects organised within my time as a volunteer at university, I developed a strong team spirit and commitment</li>
            </ul>           
 
        </section>


    </article>

    <footer><a href="contactPage.html">Contact</a></footer>

</body>
</html>