<!DOCTYPE html>
<html>
<head>
    <title>AboutMe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8" />
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="../view/box.js"></script>
    <link rel="stylesheet" type="text/css" href="../assets/css/appliedToAll.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/aboutMePage.css">
</head> 

<body>
    <nav>
        <ul class="meniu">
            <li>
               <a href="home.html">HOME</a>
            </li>
            <li> 
               <a href="aboutMe.html">PROJECTS</a>
            </li>
            <li>
               <a href="cv.html">CV</a>
            </li>
        </ul>
    </nav>
    <header>CV</header>
    <article>
        <section>
            <h1>Education</h1>
        </section>

        <section>
            <h1>Professional Trainings</h1>
        </section>

        <section>
            <h1>Professional Experience</h1>
        </section>

        <section>
            <h1>Job-related and communication skills</h1>
        </section>


    </article>


    <!-- <aside>
        <h1>Contact</h1>
    </aside> -->




</body>
</html>