body{
    color: black;
    font-size: 15px;
    text-align: justify;
}

ul {
    list-style-type: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

/* Tablets  */
@media (min-width: 768px) { 
    article {
        font-size: 20px;
    }
    footer {
        font-size: 18px;
    }
}

/* Desktops */
@media (min-width: 992px){
    article {
        font-size: 25px;
    }
    .meniu li {
        font-size: 20px;
    }
    footer {
        font-size: 22px;
    }
}

/* Extra large devices */
@media (min-width: 1200px) {
    article {
        font-size: 25px;
    }
    .meniu li {
        font-size: 30px;
    }
    footer {
        font-size: 23px;
    }
}
