/* Small */
body {
    background-color: black;
    color: black;
  }
/* Gaming Section */
.gamingImgClass {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.gamingImgClass li a img{
    cursor: pointer;
}

img {
    width: 100px;
}

/* Serial Section */
#tvSeriesContainerId a{
    text-decoration: none;
    color: black;
}

#tvSeriesContainerId a:hover {
    cursor: pointer;
    color: #ffffff;
}

.moreInfoClass {
    text-align: start;
    font-size: 12px;
}

/* Tablets  */
@media (min-width: 768px) { 
    article {
        font-size: 20px;
    }
    footer {
        font-size: 18px;
    }
    img {
        width: 120px;
    }
    .moreInfoClass {
        font-size: 14px;
    }
}

/* Desktops */
@media (min-width: 992px){
    article {
        font-size: 25px;
    }
    .meniu li {
        font-size: 20px;
    }
    footer {
        font-size: 22px;
    }
    img {
        width: 125px;
    }
    .moreInfoClass {
        font-size: 16px;
    }
}

/* Extra large devices */
@media (min-width: 1200px) {
    article {
        font-size: 25px;
    }
    .meniu li {
        font-size: 30px;
    }
    footer {
        font-size: 23px;
    }
    img {
        width: 130px;
    }
    .moreInfoClass {
        font-size: 18px;
    }
}